.footer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.footer__copyright {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
