.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

.intro__title {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 830px;
  margin: 0;
}

.intro__text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 738px;
  margin: 40px 0 0;
}

.intro__author {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 732px;
  margin: 10px 0 0;
}

.intro__description {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  max-width: 722px;
  margin: 32px 0 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__text {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__author {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__description {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    font-size: 24px;
    line-height: 30px;
  }

  .intro__author {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__description {
    font-size: 16px;
    line-height: 1.63;
  }
}
